body, html {
    height: 100%;
    margin: 0;
    background-color: #f7deee;
}

/* container to center the gameboard */
.grid-container {
    display: grid;
    place-items: center;
    height: 100%;
}

#gameboard {
    width: 688px;
    height: 688px;
    display: flex;
    flex-wrap: wrap;
}

.square {
    width: 86px;
    height: 86px;
    position: relative;
}

.square img {
    width: 81px;
    height: 81px;
    margin: 5px;
    cursor: grab;
    z-index: 1;
}

.square img:active {
    cursor: grabbing;
}

.piece {
    position: relative;
    z-index: 9;
}

.blue {
    background-color: #3e4580;
}

.pink {
    background-color: #f1c8e2;
}